.vscode
Achilles
ambari
zxing
wro4j
togglz
tachyon
spring-boot
oryx
orbit
oozie
okhttp
ninja
logback
jimfs
jackrabbit-oak
http-core
hector
hbase
handlebars.js
hadoop
dropwizard
commons-exec
assertj-core
ambari
!reruns/*
