@Test
public void mount() throws Exception {
    AlluxioURI mountPoint = new AlluxioURI("/mnt");
    String ufsPath = mFolder.getRoot().getAbsolutePath();
    Assert.assertEquals(0, mFsShell.run("mount", mountPoint.toString(), ufsPath));
    checkMountPoint(mountPoint, ufsPath);
}
