@Test
public void timer() throws Exception {
    Timer time = registry.timer("test");
    TimerImpl timerStats = new TimerImpl(time);
    timerStats.update(100, TimeUnit.SECONDS);
    assertEquals(1, time.getCount());
    assertEquals(TimeUnit.SECONDS.toNanos(100), time.getSnapshot().getMax());
    timerStats.update(100, TimeUnit.SECONDS);
    assertEquals(2, time.getCount());
    assertEquals(2, timerStats.getCount());
}
