@Test
public void timer() throws Exception {
    TimerStats timerStats = statsProvider.getTimer("test", StatsOptions.DEFAULT);
    assertNotNull(timerStats);
    timerStats.update(100, TimeUnit.SECONDS);
    assertEquals(TimeUnit.SECONDS.toMillis(100), statsImpl(statsProvider).getCounter("test", false).get());
    assertTrue(getRegisteredTimeSeries(statsProvider).contains("test"));
}
