@Test
public void timer() throws Exception {
    TimerStats timerStats = statsProvider.getTimer("test", StatsOptions.DEFAULT);
    assertNotNull(timerStats);
    assertNotNull(statsProvider.getRegistry().getTimers().containsKey("test"));
    assertTrue(((CompositeStats) timerStats).isTimer());
}
