@Test
public void config() throws Exception {
    NodeBuilder root = EMPTY_NODE.builder();
    root.setProperty(createProperty(PROP_INCLUDED_PATHS, of("/etc"), Type.STRINGS));
    root.setProperty(createProperty(PROP_EXCLUDED_PATHS, of("/etc/workflow"), Type.STRINGS));
    PathFilter p = PathFilter.from(root);
    assertEquals(PathFilter.Result.TRAVERSE, p.filter("/"));
    assertEquals(PathFilter.Result.INCLUDE, p.filter("/etc"));
    assertEquals(PathFilter.Result.INCLUDE, p.filter("/etc/a"));
    assertEquals(PathFilter.Result.EXCLUDE, p.filter("/etc/workflow"));
    assertEquals(PathFilter.Result.EXCLUDE, p.filter("/etc/workflow/1"));
}
