getCounter
test
timerStats
StatsOptions
update
assertEquals
getRegisteredTimeSeries
timer
contains
statsImpl
assertTrue
statsProvider
assertNotNull
get
TimeUnit
toMillis
getTimer
