registry
test
timerStats
isMeter
assertFalse
isTimer
update
assertEquals
counter
timer
assertTrue
assertNotNull
get
TimeUnit
toMillis
isCounter
time
getCount
getTimer
